@media (min-width: 990px) and (max-width: 1199.9px ) {

    .title-slogan-text {
        display: none;
    }    
}

@media (min-width: 768px) and (max-width: 989.9px ) {

    .header {
        width: 90%;
    }

    .title {
        background-color: #5aa5d0;

        .title-slogan-text {
            display: none;
        } 
        
        .title-bg {
            display: none;
        }
    
        .title-cross {
            display: none;
        }
    }   

    .main {
        width: 90%;
    }

    .content-section {
        clear: both;
    }

    .footer {
        width: 90%;
    }
}
    
    
@media (min-width: 480px) and (max-width: 767.9px ) {
    
    .header-wrapper {
        padding: 0;
    }

    .header {
        display: block;
        width: 100%;
        margin: 0;

        .title {
            width: 100%;
        }
        .search{
            width: 100%;
        }
    }

    .wrap-input-keyword {
        width: 100%;
        padding-right: 1rem;
    }

    .input-search {
        width: 2rem;
    }

    .title {
        background-color: #5aa5d0;

        .title-slogan-text {
            display: none;
        } 
        
        .title-bg {
            display: none;
        }
    
        .title-cross {
            display: none;
        }
    }

    .main {
        width: 100%;
        margin: 0;
        display: block;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .content-section {
        clear: both;
    }

    .content-img {
        margin: 1rem 30%;

        img {
            width: 100%;
        }
    }

    .content-nav {
        
    }

    .content-title {
        font-size: 1.5rem;
    }

    .aside {
        width: 20rem;
    }
  
    .footer {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .info {
        display: block;
        flex-direction: column;
    }

    .footer-bottom {
        display: block;
    }
}