@import "variables";
@import "mixins";

body {
    margin: 0;
    background-color: #303030;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #444444;
    line-height: 1.3rem;
}

.container {
    margin: 0 auto;    
}

.header {
    background-color: #101010;
    padding-top: 1.6rem;
    box-shadow: 0 0 0 1px #404040;    
}

.head {
    @include flex-p;
    width: $page-whidth;
    height: 5.1rem;
    align-items: flex-end;
    margin: 0 auto;
}

.title {
    height: 57px;
}

.search {
    margin: 0;
    padding: 0 1.25rem;
    background-color: #303030;
    width: $right-width;
    height: 3.49rem;
    @include flex-between;
    align-items: center;
    color: #b4b4b4;
    text-transform: uppercase;
    border-left: $black-border;
    border-top: $black-border;
}

.keyword_block {
    background-color: #626262;
    width: 13rem;
    height: 2rem;
    @include flex-p;
    @include border-item;
    border: none;
    padding-left: 0.8rem;
    border: 1px solid #737373;
}

.key_word {
    color: #c3c1bf;
    font-weight: 600;
}

.keyword_block {
    input:first-of-type {
        @include search-backround;
        width: inherit;
    }
}

input[type="search"]::placeholder { color: #c3c1bf; }    

.input_search {
    width: 1.2rem;
    height: 1.2rem;
    margin: auto 0;
    padding: 0 0.7rem;
}

.keyword {
    @include search-backround;
}

.main {
    @include flex-p;
    width: $page-whidth;
    height: 99.5rem;
    background-color: #ffffff;
    margin: 0 auto;
}

.content {
    padding: 1.2rem;
    width: $left-width;
}

.content_img {
    float: left;
    margin: 1rem;
    @include border-img;
    line-height: 0;
}

.content_title {
    font-size: 1.9rem;
    line-height: 2.2rem;
}

.content_section {
    padding: 1.2rem 0.5rem;
}

a {
    color: #2884b5;
    cursor: pointer;
}

.content_nav a+a:before {
    content: " / ";
    color: #444444;
}

.content_text {
    margin-left: 1rem;

    p:first-of-type {
    margin-bottom: 4rem;
    }
}

.counter {
    counter-reset: heading;
    list-style-type: none;
    @include padding-margin;
}

.heading_tag:before {
    counter-increment: heading;
    content: "H" counter(heading) ". ";
}

.p-indent {
    text-indent: 1.5rem;
} 

.p-bottom {
    margin-bottom: 0;
}

.p_code {
    margin: 3rem 0 1rem 0;
}

.aside {
    width: $right-width;
    border-left: $gray-border
}

.subscribe {
    @include flex-between;
    @include aside-block;
    height: 1.5rem;

    h3 {
        padding-bottom: 0;
        margin-top: 0.1rem;
    }
}

h3 {
    margin: 0;
    padding-bottom: 1rem; 
    font-size: 1.3rem;
    font-size: x-large;
    color: $color-h;
}

.advertising {
    @include aside-block;
    height: 20rem;;    
}

.advertising_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.advertising_link {
    margin: 1rem;
    text-align: center;
    font-size: smaller;

    a {
    color: #444444;
    }
}
.banner img {
    outline:  #dcdada 0.05rem solid;
    background-color: #d2d2d2;
    padding: 0.25rem;
}
        
.aside {
    width: 21.5rem;

    li {
    list-style-type: none;
    } 

    .hr_style {
        @include hr-l(#e7e6e5)
    }
}

.border_list {
    height: 20.45rem;
    width: 18rem;
    border: $gray-border;
}

.navigation {
  @include group;
}

.navigation_list {
   @include group-list;
}

.navigation_list > li {
   @include list-activ;

   &:hover {
    @include list-hover;
    }

    &:first-child:hover {
        border-left: none;
    }

    &:last-child:hover {
        border-right: none;
        box-shadow: none;
    }
}

.activ_content {
    @include group-content;
}

.activ_content li {
    @include group-content-li;
}

.community {
    @include group;
  }
  
.community_list {
    @include group-list;
}
  
.community_list > li {
    @include list-activ;
 
    &:hover {
     @include list-hover;
     }
 
     &:first-child:hover {
         border-left: none;
     }
 
     &:last-child:hover {
         border-right: none;
         box-shadow: none;
     }
 }

.nikon {
    @include aside-block;
    height: 19.2rem;
    
    img {
        line-height: 0;
    }
}

.footer {
    margin: 0 auto;
    background-color: #101010;
    width: $page-whidth;
    height: 35.15rem;
    margin-bottom: 4.1rem;
    padding-bottom: 0;
}

.info {
    padding: 1rem;
    @include flex-p;

    h3 {
        color: #b3b3b3;
    }
}

.footer_block {
    flex: 4;
    padding-right: 2rem;

    a {
        padding-top: 1rem
    }
}

.footer_title {
    @include flex-p;
    margin: 2rem 0 2rem 0;
    
    h3 {
        padding: 0.1rem 0 0 1rem;
    }
}

.footer_title_margin {
    margin-top: 4rem;
}

.hr_style {
    @include hr-l(#191919);
    margin: 0.5rem 0;
}

.footer_bottom {
    background-color: #000000;
    height: 3.3rem;
    padding: 0 1rem;
    margin-top: 2rem;
    @include flex-between;
}

.footer_copy {
    padding: 1rem 0;
}

.footer_powered {
    @include flex-p;
}

.footer_end {
    padding: 1rem 0;
}

.footer_symbol {
    padding: 1rem 0.5rem;
}