@mixin flex-p {
    display: flex;
    flex-direction: row;
}

@mixin flex-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin search-backround {
    background-color: inherit;
    border: none;
}

@mixin border-item {
    border: #404040 1px solid;
}

@mixin border-img {
    background-color: #e7e4e3;
    padding: 0.2rem;
}

@mixin aside-block {
    background-color: #e7e4e3;
    padding: 1rem;
    border-top: #f1f0ef solid 1px;
    border-left: #f1f0ef solid 1px;
    border-bottom: $gray-border;
}

@mixin list {
    border-top: #f1f0ef solid 1px;
    border-left: #f1f0ef solid 1px;
    border-bottom: $gray-border;
}

@mixin list-content {
    position: absolute;
    display: none;
    background-color: #f3f3f3;
    padding: 0 0.7rem;
    margin-top: 0.45rem;
    margin-left: -0.8rem;
    width: 16.6rem;
    height: 17.9rem; 
}

@mixin padding-margin {
    margin: 0;
    padding: 0;
}

@mixin group {
    @include aside-block;
    height: 24.5rem;
}

@mixin group-list {
    @include flex-p;
    @include list;
    @include padding-margin;
    justify-content: space-around;
}

@mixin group-content {
    position: absolute;
    display: none;
    background-color: #f3f3f3;
    padding: 0 0.7rem;
    margin-top: 0.6rem;
    margin-left: -0.7rem;
    width: 16.5rem;
    height: 17.9rem; 
    border-top: #ffffff solid 1px;
    
}

@mixin group-content-li {
    display: block; 
    padding: 0 0.2rem; 
    @include flex-between;
    margin: 0.5rem 0 -0.2rem 0;

    p {
        @include padding-margin;
    }
}